<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script type="javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
  <h1>Add blog</h1>
  <form method="post">
    <div th:each="el : ${post}">
      <input type="text" th:value="${el.title}" name="title" placeholder="Enter title of blog" class="form-control mb-2">
      <input type="text" th:value="${el.anons}" name="anons" placeholder="Enter anons of blog" class="form-control mb-2">
      <textarea th:text="${el.full_text}" name="full_text" placeholder="Enter full text of blog"
                class="form-control mb-2"></textarea>
      <button type="submit" class="button btn-success">Update</button>
    </div>
  </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>
